*{
  margin: 0;
  padding: 0;
 }

 body {
  background-color: #e0e0db;
  position: relative;
  min-height: 100%;
}

  
  /*NAV*/
  /*ANIMADO*/

  .barraNavegacion {
    display: flex;
    flex-direction: row; 
   justify-content: center;
   background-image: linear-gradient(to bottom, #A69581, #4c401e );
    }

  ul li a { 
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    color:#ebffe8;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
    
    }

  ul li a:hover { 
    font-size: 1.1rem;
    color:#bce9b7;
    font-family: 'Lato', sans-serif;
    font-weight: 550;
       
    }

  ul li { 
    list-style-type: none;
    position: sticky;
    
      }

  nav{
    background-image: linear-gradient(to bottom, #A69581,  #4c401e );

  }

  /*GRADIENTE*/
  ul{
    list-style-type: none;
    background-image: linear-gradient(to bottom, #A69581, #4c401e );
    background-size: cover;
    overflow: hidden;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    
  }

  /*NAV MOBILE*/


.mobile-container {
  display: flex;
  margin: auto;
  
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  display: block;
  height: 50px;
}

.topnav a.icon {
  background-image: linear-gradient(to bottom, #A69581,  #4c401e );
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'IM Fell Double Pica', serif, Arial, verdana;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-image: linear-gradient(to bottom, #A69581, #4c401e );
  color: white;
  font-family: 'IM Fell Double Pica', serif, Arial, verdana;
}


@media (max-width: 1920px) {
  .mobile-container {
  display: none;
  }
}

@media (max-width: 768px) {
  .mobile-container {
  display: inherit;
  }
}

@media (max-width: 768px) {
  .barraNavegacion {
  display: none;
  }
}

/*****************************/

@media (max-width: 768px) {
  .fotosHome {
  display: none;
  }
}

@media (max-width: 1920px) {
  .fotosHomeMobile {
  display: none;
  }
} 

@media (max-width: 768px) {
  .fotosHomeMobile {
  display: inherit;
  }
} 

 .colorBarraSup {
  background-color: #A69581;
 }

div .contenedor {
  height: auto;
  padding: 25px;
  margin: 0px 150px 0px 150px;
}

section {
    background-color: #e0e0db;
    padding:15px;

}

h1 {
    padding: 50px 50px;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif, Arial, verdana;
    font-size: 2.9rem;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url("../img/forestBanner.jpg");
    background-size: cover;

 }

 @media (max-width: 768px) {
  h1 {
    padding: 30px 30px;
    font-size: 1.8rem;
    line-height: 24px;
  }
} 


 .estiloParrafos {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  color: #555555;
  padding-bottom: 10px; 
}

@media (max-width: 768px) {
  .estiloParrafos {
    font-size: 1.0rem;
    line-height: 18px;
    text-align: left;
  }
}  


.estiloTitulos {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 24px;
    color: #4c401e;
    padding-bottom: 10px; 
     }

   
.contenedorIlustracion {
    display:flex;
    justify-content: center;

}

.detallesContenedor {
  border: solid 2px #A69581;
  margin: 5% 10%;
  padding: 5% 5% 2% 5%;

}

.botonContacto{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 24px;
    color: #ffffff;
    padding: 10px; 
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  .botonContacto:hover { 
    font-size: 1.1rem;
    color:#bce9b7;
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    text-decoration: none
  }

  @media (max-width: 768px) {
    .botonContacto {
      font-size: 0.9rem;
    }
    .botonContacto:hover {
      font-size: 0.9rem;
    } 

  }  

  .contenedorBoton {
    background-color:#4c401e;
    display: flex;
    justify-content: center;
    margin: 0 30% 0 30%;
  }

  @media (max-width: 768px) {
    .botonContacto {
      font-size: 0.9rem;
    }
    .botonContacto:hover {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 768px) {
    .contenedorBoton {
      margin: 0 15% 0 15%;
    }
  }

/*//////////////////////////*/

.formularioContacto {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 480px;
  height: auto;
  
}

.formularioFondo {
  background-color: #e0e0db;
  display: flex;
  justify-content: center;

}


#nombre_input {
  display:flex;
  
  width: 480px;
  
}

#email_input {
  display:flex;
  
  width: 480px;  
}

#mi_seleccion {
  display:flex;
  
  width: 480px;
  }

#textarea_input {
  display:flex;
  
  width: 480px;
    }

@media (max-width: 768px) {
  #nombre_input {
   width:270px;
      }
}

@media (max-width: 768px) {
  #email_input {
   width:270px;
      }
}

@media (max-width: 768px) {
  #mi_seleccion {
   width:270px;
      }
}

@media (max-width: 768px) {
  #textarea_input {
   width:270px;
      }
}

 
footer {
   padding-top: 40px;
   text-align: center;
}

  

/*CUADERNOS*/

   .cuadernosContenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-content:stretch;
    
    height: 430px;
    margin: 20px 100px 0 140px;
        
   }
        
   /*ANIMADO*/ 
   div.cuadernosContenedor__item img {
    width: 200px;
    height: auto;
    line-height: 100px;
    border: 1px solid #A69581;
    transition: 0.75s;
    
  }

  div.cuadernosContenedor__item img:hover {
    width: 210px;
    height: auto;
    line-height: 100px;
    border: 1.5px solid #A69581;
    
  }



  /*PÁGINA ÁLBUMES*/  
   
   #grillaAlbumes {
    display: grid;
    grid-template-areas:
      "imagenLateral tituloGrilla"
      "imagenLateral albumFormato1"
      "imagenLateral albumFormato2";
    grid-template-rows: 20% 40% 40%; 
    grid-template-columns: 35% auto;

  }
  
  .imagenLateral {
    grid-area: imagenLateral;
    width: 100%;
    height: auto;
         
  }


  .encabezadoGrilla {
    grid-area: tituloGrilla;
    padding-top: 10px;
    
  }

  .albumFormato1 {
    grid-area: albumFormato1;
    
      }

  .albumFormato2 {
    grid-area: albumFormato2;
       
  }

  .encabezadoGrilla__titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 24px;
    color: #4c401e;
    padding-bottom: 10px; 
    }

  .albumFormato__parrafos {
    text-align: center;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 18px;
    color: #555555;
    padding-bottom: 10px; 
    }
