  $anchoMax: 210px;
$letraFormularioItem: 'Lato', sans-serif;  



 /*CUADERNOS*/

 div.cuadernosContenedor__item {
   img {
     @if width == anchoMax {
       border: 1.5px solid #1a120b;
     } @else {
       border: 0.5px solid #A69581;
}

   }

}

 /*CONTACTO*/

 .formularioContenedor__contacto__item {
   font-size: 1rem;
   color: #48490c;
   font-family: $letraFormularioItem;
   font-style: italic;
 
 }
